* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Outfit", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 320px;
  background-color: hsl(0, 0%, 100%);
  padding: 1em;
  border-radius: 20px;
  font-size: 15px;
  text-align: center;
}

.container img {
  width: 100%;
  border-radius: 10px;
}

.text {
  padding: 0 15px;
}

h2,
p {
  margin: 15px auto;
}

p {
  color: hsl(220, 15%, 55%);
}
footer {
  margin-top: 50px;
}
